<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авиабилеты Онлайн</title>
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('.static', filename='show-orders.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endwith %}

    <header>
        <div class="container">
            <div class="logo-title">
                <a href="{{ url_for('welcome_page') }}">
                    <img src="{{ url_for('static', filename='imgs/plane.png') }}" alt="logo">
                    <h1>Paperplane Airlines</h1>
                </a>
            </div>
            <a href="{{ url_for('bp_user_menu.user_menu') }}"><button>Меню</button></a>
        </div>
    </header>

    <main>
        <div class="results-header">
            <h2>Ваши заказы</h2>
        </div>
        {% for order_id, order in orders.items() %}
            <div class="order">
                <h2>Заказ №{{ order_id }} пользователя {{ order['email'] }} от {{ order['booking_date'] }}</h2>
                <h3>Редактировать билеты:</h3>
                {% if order['tickets'] %}
                    <form action="{{ url_for('bp_cashier_orders.change_order', order_id=order_id) }}" method="POST">
                        <input type="hidden" name="ticket_count" value="{{ order['tickets']|length }}">
                        <table class="tickets">
                            <thead>
                                <tr>
                                    <th>Рейс</th>
                                    <th>Дата</th>
                                    <th>Время вылета</th>
                                    <th>Время прилета</th>
                                    <th>Имя</th>
                                    <th>Фамилия</th>
                                    <th>Паспорт</th>
                                    <th>Дата рождения</th>
                                    <th>Место</th>
                                    <th>Цена</th>
                                    <th>Статус</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ticket in order['tickets'] %}
                                    <tr>
                                        <td>
                                            <input
                                            type="hidden"
                                            name="tickets[{{ loop.index }}][ticket_id]"
                                            value="{{ ticket['ticket_id'] }}">
                                            {{ ticket['flight_number'] }}
                                        </td>
                                        <td>{{ ticket['schedule_date'] }}</td>
                                        <td>{{ ticket['departure_time'] }}</td>
                                        <td>{{ ticket['arrival_time'] }}</td>
                                        <td>
                                            <label for="first_name_{{ loop.index }}"></label>
                                            <input
                                                type="text"
                                                id="first_name_{{ loop.index }}"
                                                name="tickets[{{ loop.index }}][first_name]"
                                                value="{{ ticket['first_name'] }}"
                                                required>
                                        </td>
                                        <td>
                                            <label for="last_name_{{ loop.index }}"></label>
                                            <input
                                                type="text"
                                                id="last_name_{{ loop.index }}"
                                                name="tickets[{{ loop.index }}][last_name]"
                                                value="{{ ticket['last_name'] }}"
                                                required>
                                        </td>
                                        <td>
                                            <label for="passport_{{ loop.index }}"></label>
                                            <input
                                                type="text"
                                                id="passport_{{ loop.index }}"
                                                name="tickets[{{ loop.index }}][passport]"
                                                value="{{ ticket['passport'] }}"
                                                required>
                                        </td>
                                        <td>
                                            <label for="birth_date_{{ loop.index }}"></label>
                                            <input
                                                type="date"
                                                id="birth_date_{{ loop.index }}"
                                                name="tickets[{{ loop.index }}][birth_date]"
                                                value="{{ ticket['birth_date'] }}"
                                                required>
                                        </td>
                                        <td>
                                            <label for="seat_number_{{ loop.index }}"></label>
                                            <input
                                                type="text"
                                                id="seat_number_{{ loop.index }}"
                                                name="tickets[{{ loop.index }}][seat_number]"
                                                value="{{ ' ' if not ticket['seat_number'] else ticket['seat_number'] }}"
                                                required>
                                        </td>
                                        <td>
                                            <label for="price_{{ loop.index }}"></label>
                                            <input
                                                type="number"
                                                id="price_{{ loop.index }}"
                                                name="tickets[{{ loop.index }}][price]"
                                                value="{{ '' if not ticket['price'] else ticket['price'] }}">
                                        </td>
                                        <td>
                                            <label for="status_{{ loop.index }}"></label>
                                            <select
                                                id="status_{{ loop.index }}"
                                                name="tickets[{{ loop.index }}][status]"
                                                required>
                                                <option value="booked" {% if ticket['status'] == 'booked' %}selected{% endif %}>Забронирован</option>
                                                <option value="confirmed" {% if ticket['status'] == 'confirmed' %}selected{% endif %}>Подтвержден</option>
                                                <option value="canceled" {% if ticket['status'] == 'canceled' %}selected{% endif %}>Отменен</option>
                                            </select>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="buttons">
                            <button class="confirm" type="submit" name="action" value="confirm">Подтвердить заказ</button>
                            <button class="change" type="submit" name="action" value="change">Изменить заказ</button>
                            <button class="cancel" type="submit" name="action" value="cancel">Отменить заказ</button>
                        </div>
                    </form>
                {% else %}
                    <p>Билеты не найдены.</p>
                {% endif %}
            </div>
        {% endfor %}

    </main>
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</body>
</html>
